		<script src="https://unpkg.com/lunr/lunr.js"></script>     
		<script src="search-documents.js"></script>     
     	<div id="search-app">
			<b-form-group
	          label="Filter"
	          label-for="filter-input"
	          label-cols-sm="3"
	          label-align-sm="right"
	          label-size="sm"
	          class="mb-0"
	        >
	          <b-input-group size="sm">
	            <b-form-input
	              id="filter-input"
	              v-model="filter"
	              type="search"
	              placeholder="Type to Search"
	            ></b-form-input>
	
	            <b-input-group-append>
	              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
	            </b-input-group-append>
	          </b-input-group>
	        </b-form-group>		
	        <b-card 
	        	v-for="searchResult in searchResults" 
	        	:header-html="searchResult.title" 
	        	:footer="searchResult.path"
	        	class="mt-2"
	        	>
	        	
	        	<b-card-text>{{ searchResult.content }}</b-card-text>
	        
	        </b-card>
     	</div>
     
		<script>		      
			new Vue({
				  el: '#search-app',
				  data: {
			        	filter: null,
				      searchIndex : lunr(function () {
						  this.ref('url');
						  this.field('title');
						  this.field('content');
						
						  for (const key in searchDocuments) {
							  let doc = searchDocuments[key];
							this.add({
								url: key,
								title: doc.title,
								path: doc.path,
								content: doc.content
							});  
						  }
						})
				  },
				  computed: {
					searchResults: function() {
						if (this.filter) {
							let searchResult = this.searchIndex.search(this.filter);
							return searchResult.map(function(e) {
								let doc = searchDocuments[e.ref];
								return {
									url: "x.html",
									title: `<h5><a href="${e.ref}">${doc.title}</a></h5>`,
									path: doc.path,
									content: doc.content && doc.content.length > 250 ? doc.content.substring(0, 250) + "..." : doc.content
								};									
							});
						} 
						return [];
					}  
				  }
			});        	        	
		</script>
